[submodule "Signal-Viewer"]
	path = Signal-Viewer
	url = https://github.com/Heba-Elbeshbeshy/Signal-Viewer
[submodule "Equalizer"]
	path = Equalizer
	url = https://github.com/Heba-Elbeshbeshy/Equalizer
[submodule "Task3_ImageMixer"]
	path = Task3_ImageMixer
	url = https://github.com/Heba-Elbeshbeshy/Task3_ImageMixer
